<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "myBasket" method = "post">
    <table border="1">
        <thead>
            <tr>
                <td>ID</td>
                <td>상품명</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${productList}">
            <td th:text="${product.memberId}"></td>
                <td><a href = "product/bed" th:text="${product.productName}"></a></td>
                <td> <input type="checkbox" name="basket" th:value = "${product.productName}"></td>
            </tr>
        </tbody>
    </table>
    <hr>
    <button id="submit">삭제</button>
    </form>
</body>
</html>