<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action = "myBasket" method = "post">
    <table border="1">
        <thead>
            <tr>
                <td>상품명</td>
                <td>가격</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product : ${productList}">
            <td th:text="${product.productName}"></td>
                <td th:text="${product.price}"></td>
                <td> <input type="checkbox" name="basket" th:value = "${product.productName}"></td>
            </tr>
        </tbody>
        <td>총가격</td>
        <td th:text="${sum}"></td>
    </table>
    <hr>
    <button id="submit">삭제</button>
    </form>
    <form action = "buy" method = "post">
    <button id="submit">구매하기</button>
    </form>
</body>
</html>