<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://kit.fontawesome.com/8eb5905426.js"></script>
  </head>
  <body>
  <form action = "searchProduct" method = "post">
      <i class="fas fa-search"></i>
      <input type="radio" name="checkInfo" value="상품명" checked = "checked">상품명
	  <input type="radio" name="checkInfo" value="카테고리">카테고리
	  <input type="radio" name="checkInfo" value="전체보기">전체보기
	  <input type="text" name="search">   
      <input type="submit" value="검색">
    </form>
    <form action = "myBasket" method = "get">
    <input type="submit" value="장바구니 보기">
    </form>
    <form action = "login" method = "get">
    <input type="submit" value="로그아웃">
    </form>
  </body>
</html>